#explicacion {
	z-index:3;
	position:absolute;
	width:300px; 
	height:300px;  
	left: 310px; 
	top: 370px; 
	background-color: white;
	border: 2px solid #000000; 
}

#imag1 {
	z-index:1;
	position:absolute;	
	left: 5px; 
	top: 70px; 
}

#imag2 {
	z-index:2;
	position:absolute;	
	left: 155px; 
	top: 220px; 
}

#quieto {
	z-index:2;
	position: fixed; 
}

#abajo {
	z-index:1;
	position:absolute;	
	left: 0px; 
	top: 700px;
}