h1 {
text-decoration: underline;
color: #FF6600
}

tr.titulo td[bgcolor] {
	color:white;
	background-color:navy;
	text-decoration: underline;
	text-align: center
}

td[bgcolor="navy"] {
	color:yellow;
}

.clase2 {
color:#006600
}
.clase2 span {
text-decoration:underline;
}

.clase1 span {
font-weight:bold;
color:#FF0044
}

a:link {
color: green; 
}
a:visited {
color: red;
}

a:hover {
color: yellow;
}
a:active {
color: pink;
}